.background {
    background-image: url(../images/dust_scratches.png);
    min-height: 100%;
    margin-bottom: -10%;
    padding-bottom: 10%;
}

.nav-wrapper-pages {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.nav-wrapper-about {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

#navbar {
    display: block;
    list-style-type: none;
    overflow: hidden;
    font-family: Helvetica Neue;
    border-style: none none solid none;
    border-color: #cccccc;
    height: 80px;
    margin: 0 0 20px 0;
    background-color: #ffffff;
}

.navbar-item-group {
    float: right;
}

.navbar-item{
    display: inline-block;

}

.navbar-link-inner {
    display: inline-block;
    color: #777777;
    margin: 30px 20px 0px 15px;
    padding: 0 15px 0 0;
    text-decoration: none;
    border-style: none solid none none;
    border-color: #cccccc;
    border-width: thin;
    height: 18px; 

}

.navbar-link-outer {
    display: inline-block;
    color: #777777;
    margin: 30px 20px 0px 15px;
    text-decoration: none;
    height: 18px; 

}

a:hover {
    color: #4aaaa5;
}

img:hover {
    opacity: 0.5;
}

#contact-btn:hover {
    border-style: outset;
    padding: 8px 20px 10px 20px;
    cursor: pointer;
}

header {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 30px 30px 0px 30px;
    background-color: #4aaaa5;
    font-family: Georgia;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    width: 200px;
}

.content {
    display: block;
    width: 60%;
    color: #777777;
    font-size: 18px;
    line-height: 32px;
    margin: 4% auto 10% 5%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    height: 100%;
    background-color: #ffffff;
}

.content-contact {
    display: block;
    width: 60%;
    color: #777777;
    font-size: 18px;
    line-height: 32px;
    margin: 4% auto 20% 5%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    height: 100%;
    background-color: #ffffff;
}

.content-portfolio {
    display: block;
    width: 60%;
    color: #777777;
    font-size: 18px;
    line-height: 32px;
    margin: 1% auto 2% 5%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    height: 100%;
    background-color: #ffffff;
}

.title {
    font-size: 24px;
    font-family: Georgia;
    color: #4aaaa5;
    margin: 30px 0px 0px 5%;
    padding: 0 0 15px 0;
}

.profile-image{
    display: inline-block;
    height: 20%;
    width: 20%;
    margin: 10px 10px 10px 0;
    float: left;
}

hr { 
  display: block;
  margin-left: 5%;
  margin-right: 20px;
  border-style: solid;
  border-width: 1.5px;
}

.text {
  display: block;
  font-family: Helvetica Neue;
  float: right;
  padding: 0 20px 0 5%;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#contact-btn {
    color: #ffffff;
    border-radius: 0px;
    background-color: #4aaaa5;
    height: 32px;
    margin: 20px 20px 20px 20px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-style: none;
}

.messege-content {
  display: block;
  margin: 20px 20px 0 20px; 
  font-family: Helvetica Neue;
  color: #777777;
}
input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
    rows: 5;
    cols: 70;
}

.grid {
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    padding: 20px 0 20px 20px;
}

.grid-item {
    text-align: center;
    height: 90%;
    width: 90%;
    position: relative;
}

.portfolio-image {
    padding: 0px 0px 10px 0px;
    width: 100%;
}

.portfolio-label {
    position: absolute;
    float: left;
    top: 50%;
    color: #ffffff;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;
    background-color: #4aaaa5;
    font-family: Georgia;
    font-size: 18px;
}

.copyright {
    display: block;
    height: 30px;
    background-color: #666666;
    color: #cccccc;
    padding: 30px 0 0 46%;
    vertical-align: bottom;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-style: solid none none none;
    border-width: 5px;
    border-color: #4aaaa5;
}


/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {


.content-contact {
    margin: 4% 2% 10% 2%;
    width: 96%;
}


.content-portfolio {
    margin: 4% 2% 10% 2%;
    width: 96%;
}

.content {
    margin: 4% 2% 10% 2%;
    width: 96%;

}

.nav-wrapper-about {
    height: 100%;
    width: 96%;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {

#navbar {
    display: block;
    height: 100%;
}

.navbar-item {
    display: inline-flex; 
    flex-direction: column-reverse;
    height: 18px;
}

.navbar-item-group {
    position: relative;
    right: 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    padding: 20px 0 20px 20px;
}

.grid-item {
        padding: 10px 0 10px 0;
}

header {
    width: 100%;
    padding: 30px 30px 30px 30px;
}

}
