<!DOCTYPE html>
<html>
    <head>
        <title>
            Basic Portfolio
        </title>

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel='stylesheet' type='text/css' href="../assets/css/style.css">
        <style>
        </style>
    </head>
    <body>
        <div class="background">
            <div id="navbar">
                <div class="nav-wrapper-about">
                    <header class="">
                        Grant Hewlett
                    </header>
                    <ul class="navbar-item-group">
                    <li class="navbar-item">
                        <a class="active navbar-link-inner" href="../index.html">About</a>
                    </li>
                    
                    <li class="navbar-item">
                        <a class="navbar-link-inner" href="./portfolio.html">Portfolio</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link-outer" href="#Contact">Contact</a>
                    </li>
                    </ul>
                </div>
            </div>
            <section class="content-contact clearfix">
                <h1 class="title">Contact</h1>
                <hr>
                <p class="text clearfix">
                    <form class="messege-content">
                        <label id="name-label" for="name">
                            Name
                        </label>
                        <br>
                        <input placeholder="John Smith" id="name"  name="name" type="text"></input>
                        <br>
                        <label id="email-label" for="email">
                            Email
                        </label>
                        <br>
                        <input placeholder="example@gmail.com" id="email" name="email" type="email"></input>
                        <br>
                        <label id="message-label" for="message">
                            Message
                        </label>
                        <br>
                        <textarea  class="text-area" id="message" type="text"></textarea>
                        <br>
                        <button type="submit" id="contact-btn" value="Submit">Submit</button>
                    </form>
                </p>    
            </section>
            <footer class="copyright">
                Copyright &copy;
            </footer>
        </div>
    </body>
</html>
