<!DOCTYPE html>
<html>
    <head>
        <title>
            Basic Portfolio
        </title>
        <link rel='stylesheet' type='text/css' href="../assets/css/style.css">
        <style>
        </style>
    </head>
    <body>
        <div class="background">
            <div id="navbar">
                <div class="nav-wrapper-pages">
                    <header class="left">
                        Grant Hewlett
                    </header>
                    <div class="navbar-item">
                        <a class="navbar-link right" href="#Contact">Contact</a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-link" href="./portfolio.html">Portfolio</a>
                        <div class="seperator"></div>
                    </div>
                    <div class="navbar-item">
                        <a class="active navbar-link" href="../index.html">About</a>
                        <div class="seperator"></div>
                    </div>
                </div>
            </div>
            <section class="content-contact clearfix">
                <h1 class="title">Contact</h1>
                <hr>
                <p class="text clearfix">
                    <form class="messege-content">
                        <label id="name-label" for="name">
                            Name
                        </label>
                        <br>
                        <input placeholder="John Smith" id="name"  name="name" type="text"></input>
                        <br>
                        <label id="email-label" for="email">
                            Email
                        </label>
                        <br>
                        <input placeholder="example@gmail.com" id="email" name="email" type="email"></input>
                        <br>
                        <label id="message-label" for="message">
                            Message
                        </label>
                        <br>
                        <textarea  class="text-area" id="message" type="text"></textarea>
                        <br>
                        <button type="submit" id="contact-btn" value="Submit">Submit</button>
                    </form>
                </p>    
            </section>
        </div>
        <footer class="copyright">
            Copyright &copy;
        </footer>
    </body>
</html>
