<!DOCTYPE html>
<html>
    <head>
        <title>
            Basic Portfolio
        </title>
        <link rel='stylesheet' type='text/css' href="../assets/css/style.css">
        <style>
        </style>
    </head>
    <body>
        <div class="background">
            <div id="navbar">
                <div class="nav-wrapper-pages">
                    <header class="left">
                        Grant Hewlett
                    </header>
                    <div class="navbar-item">
                        <a class="navbar-link right" href="./contact.html">Contact</a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-link" href="#Portfolio">Portfolio</a>
                        <div class="seperator"></div>
                    </div>
                    <div class="navbar-item">
                        <a class="active navbar-link" href="../index.html">About</a>
                        <div class="seperator"></div>
                    </div>
                </div>
            </div>
            <section class="content-portfolio clearfix">
                <h1 class="title">Portfolio</h1>
                <hr>
                <p class="text clearfix">
                    <div class="grid-container">
                        <div class="grid-item">
                            <img class="portfolio-image" src="../assets/images/technics-1.jpg">
                            <div class="portfolio-label clearfix">
                                Hangman
                            </div>
                        </div>
                        <div class="grid-item">
                            <img class="portfolio-image" src="../assets/images/technics-2.jpg">
                            <div class="portfolio-label clearfix">
                                RPG Game
                            </div>
                        </div>
                        <div class="grid-item"></div>  
                        <div class="grid-item">
                            <img class="portfolio-image" src="../assets/images/technics-3.jpg">
                            <div class="portfolio-label clearfix">
                                Trivia Game
                            </div>
                        </div>
                        <div class="grid-item">
                            <img class="portfolio-image" src="../assets/images/technics-4.jpg">
                            <div class="portfolio-label clearfix">
                                Columbia Info Widget
                            </div>
                        </div>
                        <div class="grid-item"></div>  
                        <div class="grid-item">
                            <img class="portfolio-image" src="../assets/images/technics-5.jpg">
                            <div class="portfolio-label clearfix">
                                Rock Paper Scissors
                            </div>
                        </div>
                        <div class="grid-item"></div>
                        <div class="grid-item"></div>  
                    </div>
                </p> 
            </section>
          </div>
        <footer class="copyright">
            Copyright &copy;
        </footer>
    </body>
</html>
